.cmp-navigation {
	.cmp-navigation__group {
		@media (min-width: 992px)
		{
			flex-direction: row;
		}
		display: flex;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		.cmp-navigation__item {
			.cmp-navigation__item-link
			{
				display: block;
				padding: .5rem 0 .5rem 0.5rem;
				font-size: 18px;
				@media (min-width: 992px)
				{
					padding: .5rem 1rem;
				}
			}
		}
	}
}