.cmp-navigation {
	.cmp-navigation__group {
		@media (min-width: 992px)
		{
			flex-direction: row;
		}
		display: flex;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		.cmp-navigation__item {
			.cmp-navigation__item-link
			{
				display: block;
				padding: .5rem 1rem;
				font-size: 18px;
			}
		}
	}
}

.text-light nav a{
		color: $light;
}
.text-dark nav a{
		color: $dark;
}