/* Coresites Card Dark style */
.cmp-card--dark {
  .cmp-card {
    .cmp-card-body {
      color: $light;
      background: $dark;
    }
  }
}
/* Coresites Card Light style */
.cmp-card--light {
  .cmp-card {
    .cmp-card-body {
      color: $dark;
      background: $light;
    }
  }
}