

@gridpath : "/libs/wcm/foundation/clientlibs/grid";
@import "@{gridpath}/grid_base.less";
 
/* maximum amount of grid cells to be provided */
@max_col: 12;
 
/* default breakpoint */
.aem-Grid {
    .generate-grid(default, @max_col);
    width: auto;
}

/* phone breakpoint */
@media (max-width: (@screen-sm-min - 1)) {
    .aem-Grid {
        .generate-grid(phone, @max_col);
    }
}

/* tablet breakpoint */
@media (min-width: @screen-sm-min) and (max-width: @screen-lg-min) {
    .aem-Grid {
        .generate-grid(tablet, @max_col);
    }
}

.aem-GridGutter--5 {
    .aem-GridColumn {
        padding-left: 2.5px;
        padding-right: 2.5px;
    }
}
.aem-GridGutter--10 {
    .aem-GridColumn {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.aem-GridGutter--20 {
    .aem-GridColumn {
        padding-left: 10px;
        padding-right: 10px;
    }
}