.carousel {

  #carousel {
    max-width: 1400px;
    margin: 0 auto;
  }

  .carousel-indicators {
    position: relative;
  }

  .carousel-caption {
    color: inherit;
  }

  .carousel-item {
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
  }

}
.cc-no-image
{
    position: static;
}