.cmp-form  {
  .button {
    button {
      width: 100%;
      height: 100%;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

  }
}

.button {
  &.cmp-button--primary {
    button {
      background-color: $brand-primary;
      color: $dark-theme-text-color;
    }
  }

  &.cmp-button--secondary {
    button {
      background-color: $brand-secondary;
      color: $light-theme-text-color;
    }
  }
}