body {
  font-family: $coresites-font-family;
}

a {
  color: $coresites-primary-text;
  &:hover {
    color: $coresites-primary-text;
    filter: brightness(80%);
    cursor: pointer;
  }
}

.text-primary {
  color: $coresites-primary-text !important;
}
.text-secondary {
  color: $coresites-secondary-text !important;
}

.bg-primary {
  background-color: $coresites-primary-bg !important;
}
.bg-secondary {
  background-color: $coresites-secondary-bg !important;
}

.border-primary {
  background-color: $coresites-primary-bg !important;
}
.border-secondary {
  background-color: $coresites-secondary-bg !important;
}