$coresites-primary-text: var(--primary-text-color);
$coresites-secondary-text: var(--secondary-text-color);
$coresites-primary-bg: var(--primary-background-color);
$coresites-secondary-bg: var(--secondary-background-color);

$coresites-font-family: var(--coresites-font-family);

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

:root {
  --coresites-font-family: 'Montserrat', sans-serif;
}
