<div data-sly-use.card="com.headwire.coresites.core.models.Card" class="${!wcmmode.disabled ? 'cmp-card cq-dd-image' : 'cmp-card'}">
    <div class="cmp cmp-image" data-sly-resource="${ @ resourceType='coresites/components/content/image'}">

    </div>
    <div class="cmp-card-body">
        <h5 class="cmp-card-title">${properties.title}</h5>
        <sly data-sly-resource="${'text' @ resourceType='coresites/components/content/text'}"/>
        <a data-sly-test="${card.buttonLinkTo}" href="${card.buttonLinkTo @ extension = 'html'}" class="cmp-card-button">${card.buttonLabel}</a>
    </div>
</div>