<div data-sly-use.teaser="com.headwire.coresites.core.models.Teaser"
     class="d-flex flex-column col-12 col-md-10 justify-content-between align-items-center">
    <div class="${teaser.alignContent}">
        <div data-sly-test.showTitle="${!teaser.hideTitle}"
             data-sly-resource="${'title' @ resourceType='coresites/components/content/title'}">
        </div>
        <div data-sly-test.showSubtitle="${!teaser.hideSubtitle}"
             data-sly-resource="${'subtitle' @ resourceType='coresites/components/content/title'}">
        </div>
        <div data-sly-test.showText="${!teaser.hideText}"
             data-sly-resource="${'text' @ resourceType='coresites/components/content/text'}">
        </div>
    </div>
    <div data-sly-test.showButtons="${!teaser.hideButtons && teaser.buttons}"
         class="d-flex flex-wrap ${teaser.alignButtons}"
         data-sly-list="${teaser.buttons}">
        <a class="btn m-2 ${teaser.buttonSize} ${item.color}"
            href="${item.link}">
            ${item.text}
        </a>
    </div>
</div>
<div data-sly-test="${!showTitle && !showSubtitle && !showText && !showButtons && !wcmmode.disabled}">
    All content is currently hidden
</div>