<div>
    <button class="d-flex justify-content-between p-4" type="button" data-toggle="collapse" data-target="#${currentNode.identifier}"
        aria-expanded="false" aria-controls="collapseExample">
        <div data-sly-resource="${'header' @ resourceType='coresites/components/content/title'}">
        </div>
        <div></div>
    </button>
    <div class="collapse  ${wcmmode.edit ? 'show' : ''}" id="${currentNode.identifier}">
        <div class="card card-body p-4" data-sly-resource="${'grid' @ resourceType='wcm/foundation/components/responsivegrid'}">
        </div>
    </div>
</div>