<div data-sly-use.vectorGraphic="com.headwire.coresites.core.models.VectorGraphic"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test="${vectorGraphic.src}"
     class="cmp-vector${!wcmmode.disabled ? ' cq-dd-image' : ''}">
    <img style="width:${vectorGraphic.width ? vectorGraphic.width : '100%' @ context = 'styleToken' }; height: ${vectorGraphic.height ? vectorGraphic.height : 'auto' @ context = 'styleToken' }" src="${vectorGraphic.src}"/>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !vectorGraphic.src, classAppend = 'cmp-image cq-dd-image'}"></sly>
