.button {
  button, .btn {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: filter .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
      filter: brightness(80%);
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.button {
  &.cmp-button--primary {
    button, .btn {
      background-color: $coresites-primary-bg;
      color: $light;
    }
  }

  &.cmp-button--secondary {
    button, .btn {
      background-color: $coresites-secondary-bg;
      color: $light;
    }
  }
}