.aem-GridGutter--5 {
    .aem-GridColumn {
        padding-left: 2.5px;
        padding-right: 2.5px;
    }
}
.aem-GridGutter--10 {
    .aem-GridColumn {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.aem-GridGutter--20 {
    .aem-GridColumn {
        padding-left: 10px;
        padding-right: 10px;
    }
}