.button {
  &.cmp-button--primary {
    button, .btn {
      background-color: $coresites-primary-bg;
      color: $coresites-primary-text;
      &:hover {
        color: $coresites-primary-text;
      }
    }
  }

  &.cmp-button--secondary {
    button, .btn {
      background-color: $coresites-secondary-bg;
      color: $coresites-secondary-text;
      &:hover {
        color: $coresites-secondary-text;
      }
    }
  }
}