  <sly data-sly-test="${wcmmode.edit}" data-sly-use.allowed="com.day.cq.wcm.foundation.AllowedComponentList"></sly>
  <sly data-sly-use.api="com.day.cq.wcm.foundation.model.responsivegrid.ResponsiveGrid" class="${allowed.cssClass}">
      <sly data-sly-test.isAllowedApplicable="${allowed.isApplicable}"
           data-sly-test="${isAllowedApplicable}"
           data-sly-use.allowedTemplate="/libs/wcm/foundation/components/parsys/allowedcomponents/allowedcomponents-tpl.html"
           data-sly-call="${allowedTemplate.allowedcomponents @ title=allowed.title, components=allowed.components}"></sly>
      <sly data-sly-test="${!isAllowedApplicable}"
           data-sly-repeat.child="${api.paragraphs}"
           data-sly-resource="${child.path @ resourceType=child.resourceType, decoration='true'}"></sly>
  </sly>
<sly data-sly-test="${!isAllowedApplicable && wcmmode.edit}"
      data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/new', appendPath='/*', decorationTagName='div', cssClassName='w-25 new section aem-Grid-newComponent'}" />