<!--/* Header Component for Coresites Site

*/-->

<nav class="navbar align-items-center navbar-light navbar-expand-lg w-100">
    <!--/* TODO: replace the hardcoded width (it's needed to make the drop target work)*/-->
    <style>
        .placeholder-width
        {
            width: 50px;
        }
    </style>
    <span class="navbar-logo ${!wcmmode.disabled ? 'placeholder-width' : ''}">
        <a href="${properties.rootPath || currentStyle.rootPath @ extension='html'}">
            <div data-sly-resource="${'logo' @ resourceType='coresites/components/content/image'}">

            </div>
        </a>
    </span>

    <!-- Hamburger toggle button -->
    <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false"
            aria-controls="collapseExample">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse justify-content-end ${!wcmmode.disabled ? 'placeholder-width' : ''}"
         id="navbarSupportedContent"
         data-sly-resource="${'navigation' @ resourceType='coresites/components/structure/navigation'}">
    </div>
</nav>